.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
 align-items: center; 
  
}

.cardgrid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 3rem;

}

.card{
  background-image: linear-gradient(rgb(3, 3, 3),rgb(255, 174, 0),rgb(3, 3, 3));
  border-radius: 5px;
  padding: 2rem 0;
   

}


.button{
  border-style: none;
  background-image: linear-gradient(180deg, rgb(3, 3, 3),rgb(255, 174, 0) );
 border-radius: 5px;
 box-shadow: 3px lightslategray;
 border: none;
 outline:none;
 padding: 0.7em;
 margin: 0 auto;
 height: 3rem;
 width: 18rem;
 margin-bottom: 2rem;
 font-weight: bold;
 color: #fff;
 letter-spacing: 0.2em;
}

.imageholder {
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
 align-items: center;
 
 margin-bottom: 2rem;
  

}


.planetlist {
  
  list-style: none;
  text-align: center;
  

}